<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
        Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>. All rights reserved.
    	<a rel="nofollow" href="http://www.miitbeian.gov.cn/">苏ICP备16036486号</a>

		<br/>

        Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>

		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256463440'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256463440%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

    </div>
  </div>
</footer>
