<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>
<% if(theme.share){ %>
<%- partial('post/share', {scope: 'global'}) %>
<% } %>

<link rel="stylesheet" href="//cdn.staticfile.org/highlight.js/9.10.0/styles/default.min.css">
<script async defer src="//cdn.staticfile.org/highlight.js/9.10.0/highlight.min.js"></script>
<script>(function(){var t=setInterval(function(){if (window.hljs){hljs.initHighlightingOnLoad();clearInterval(t)} }, 50)})()</script>

