<% if (config.duoshuo_shortname){ %>
<div class="widget-wrap">
    <h3 class="widget-title">Hot Posts</h3>
    <div class="widget">
        <ul>
            <!-- 多说热评文章 start -->
            <div class="ds-top-threads" data-range="daily" data-num-items="5"></div>
            <!-- 多说热评文章 end -->
        </ul>
    </div>
</div>
<% } %>